In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.652421  1.973224
1    a  two  0.935156 -0.692854
2    b  one -2.658412 -0.458232
3    b  two  1.788690  0.736524
4    a  one  0.129723 -0.314533

In [9]:
grouped=df['data1'].groupby(['台北', '台北', '台中', '台中', '台北']).mean()
grouped

台中   -0.434861
台北    0.572433
Name: data1, dtype: float64

In [22]:
groupkey1=df.groupby(df['key1'],df['key2']).mean()
groupkey1

TypeError: unhashable type: 'Series'

In [20]:
df1 = df.set_index(keys=['key1','key2'])
df1

              data1     data2
key1 key2
a    one   0.652421  1.973224
     two   0.935156 -0.692854
b    one  -2.658412 -0.458232
     two   1.788690  0.736524
a    one   0.129723 -0.314533

In [21]:
grouped_sum = df1.groupby('key1').sum()
print('依照 key1 分組的總和：')
print(grouped_sum)

依照 key1 分組的總和：
         data1     data2
key1
a     1.717300  0.965837
b    -0.869722  0.278291