In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.694357  2.404172
1    a  two  0.922754  0.636384
2    b  one -1.431982 -0.664423
3    b  two  1.046749 -0.567716
4    a  one  0.709611  2.080837

In [2]:
#Series的Groupby
grouped = df['data1'].groupby(['台北','台北','台北','台中','台中'])
grouped

In [3]:
grouped.mean()

台中    0.878180
台北   -0.401195
Name: data1, dtype: float64

In [4]:
df['data1'].groupby(df['key2']).mean()

key2
one   -0.472243
two    0.984751
Name: data1, dtype: float64

In [5]:
s1 = df['data1'].groupby([df['key1'],df['key2']]).mean()
s1

key1  key2
a     one     0.007627
      two     0.922754
b     one    -1.431982
      two     1.046749
Name: data1, dtype: float64

In [6]:
s1.unstack(level='key1')

key1         a         b
key2
one   0.007627 -1.431982
two   0.922754  1.046749

In [13]:
df.groupby('key1')[['data1','data2']].mean()

         data1     data2
key1
a     0.312670  1.707131
b    -0.192617 -0.616070

In [8]:
df.groupby('key1')['data2'].mean()

key1
a    1.707131
b   -0.616070
Name: data2, dtype: float64